@using Northwind.Entities
@model IList<Category>

<div class="row">
    <div class="col-md-12">
        <h2>These are the categories available:</h2>
        <ul>
            @foreach(var category in @Model) {
                <li><a asp-page="/Categories/Edit" asp-route-id="@category.CategoryId">@category.CategoryName</a></li>
            }
        </ul>
    </div>
</div>

@section Footer {
    <div class="row">
        <div class="col-md-12">
            <h4>
                You cannot edit categories (Custom Footer).
            </h4>
        </div>
    </div>
}