@using Module01_Introduction_task_01.Models
@model IList<Category>

<div class="row">
    <div class="col-md-12">p
        <h2>These are the categories available:</h2>
        <ul>
            @foreach(var category in @Model) {
                <li>@category.</li>
            }
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
</div>
